h1,p{
    text-align: center;
}

#main{
    color: blue;
}


.para{
    background-color: aquamarine;
    font-weight: bold;

}

*{
    margin: 30px;
}


body{
    background-color: coral;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}